{% extends 'blog/base.html'%}	
{% block content%}
</main> <!-- exits template container early-->

<div class="jumbotron bg-light">
	<h2 class="text-black">Hey, I'm Ronnie</h2>
    <p>I am a programmer who started with <mark>SQL</mark> in December 2018</p>
    <p>Then I learned some <mark>Python</mark> and started making this site</p>
  </h1>
</div>
	
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="text-white">This site is a work in progress</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="text-white">Sorry 'bout the 30 seconds loading time</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="text-white">Made with help of Youtube/Google/Caffeine/More Google</p>
      </div>

    </div>
  </div>
</section>

{% endblock content %}
