{% extends 'blog/base.html'%}	
{% block content%}
</main> <!-- exits template container early-->

<div class="jumbotron bg-light">
	<div class="container">
	<h1 class="text-black">Home Page - sprinkle some words here later</h1>
	</div>
</div>
	
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="text-white">Side 1 Filler Filler Filler Filler Filler Filler Filler</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="text-white">Side 2 Filler Filler Filler Filler Filler Filler Filler</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="text-white">Side 2 Filler Filler Filler Filler Filler Filler Filler3</p>
      </div>

    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        Beep!
      </a>
    </div>
  </div>
</section>

<footer class="footer">
<p>OOOOOOOO</p>
</footer>
{% endblock content %}
